body {
	font-family: helvetica, serif;
	color: #000000;
}

h2 {
	font-family: helvetica, serif;
	font-size: 160%;

}

.nav a {
  color: #3D3D3D;
  font-size: 85%;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
	display: inline;
}

/*#sidebar_one {
	position: relative;
	float: right;
	padding: 5px;
	margin: 30px;
	width: 20%;
	height: 60%;
	background-color: #ED2F09;
    border-radius: 25px;
    margin: auto;
    text-align: center;
	font-family: helvetica, serif;
	color: #F3F3F3;
}

#sidebar_two

#sidebar_three

#sidebar_four

#sidebar_five

#sidebar_six

#sidebar_seven
*/
#sidebar_eight


/*blockquote strong {
	font-weight: bold;
	color: #ED2F09;

}
*/