body {
	font-family: helvetica, serif;
	color: #000000;
}

h2 {
	font-family: helvetica, serif;
	font-size: 180%;
	color: #ED2F09;
}

h3 {
	font-family: helvetica, serif;
	font-size: 150%;
	font-weight: bold;
	color: #ED2F09;
}

span {
	font-family: helvetica, serif;
	font-size: 120%;
	font-weight: bolder;
}


a {
	color: #0A6583;
}

.navbar {
	padding: 3px;
	text-align: center;
	display: inline-block;

}

#sidebar {
	background-color: #DCEBF0;
	padding: 10px;
	/*border-style: solid;
	border-width: 2px;
	border-color: #3D3D3D;*/
	border-radius: 15px;
}


#resources {
	background-color: #EAEAEA;
	padding: 5px;
	border-radius: 15px;
}

/*.nav a {
  font-family: helvetica, serif;
  color: #3D3D3D;
  font-size: 85%;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
	display: inline;
}*/