
#sidebar-brand {
  z-index: 5;
  height: 65px;
  padding: 10px;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0px;
  width: 250px;
  background-color: #673AB7;
  background-color: #F7AE02;
  color: #fff;
}
#sidebar-brand a{
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-nav {
  z-index: 4;
  margin: 0;
  padding: 0 0 30px;
  position: fixed;
  top: 65px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  list-style: none;
  overflow-y: auto;
  background-color: #eee;
}

.sidebar-nav li {
  line-height: 25px;
}
.sidebar-nav > li {
  border-bottom: 1px solid #ccc;
}
.sidebar-nav > li > a {
  font-weight: bold;
}
.sidebar-nav li a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #333;
  background-color: rgba(255, 190, 35, 0.7);
}

.sidebar-nav li a.active{
  background-color: #ffbe23;
  color: #000;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav .list-unstyled a{
  padding-left: 20px;
}

.sidebar-nav ul ul.list-unstyled {
  border-bottom: none;
}

.nav-sub1, .nav-sub2 {
  display: none;
}

.sidebar-nav ul ul.list-unstyled a {
  padding-left: 40px;
}